
<div class="form-content">
    <h1></h1>
  
    <br/> <br/>
    <a  class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>update user</a>
  <div class="col-sm-9">
  <table border="1" class="table">  
                 
                    <tr >
                   <th>USER_ID</th>   
                   <th>USERNAME</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th>PHONE</th>              
                    
                    </tr>
                    <tr>
                      <td>{{user.id}}</td>
                      <td>{{user.name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.address}}</td>
                      <td>{{user.phone}}</td>
                   
                    
                    </tr>
                  </table>
                  
                  </div>