.form-content{
position: absolute;
top: 90px;
left: 50%;
-webkit-transform: translate( -40% );
transform: translate( -40% );
margin: 0;
width: 90%;
height: 600px;

}
.text-center{
    margin-left: 30%;
}
.text-center li{
    width: 30px;
}
.active-pink-3 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1
    
}