.form-content{
    position: absolute;
    top: 90px;
    left: 50%;
    -webkit-transform: translate( -40% );
    transform: translate( -40% );
    margin: 0;
    width: 90%;
    height: 600px;

}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-left: 25px;
}

.text-center{
    margin-left: 30%;
}
.text-center li{
    width: 30px;
}