 <!-- <div class="form-content">
  <form>
    <table class="table">
      <tr>
<td>    <select (change)="selectChangehandler($event)">
    <option *ngFor="let p of categorylist">{{p.category_name}}<input type="text"></option>   
  </select>
  <input type="text" name="category" value="{{category}}" class="form-control" [(ngModel)]="product.category">

        </td>
        <td>Name:<input type="text" name="name"  placeholder="sony" class="form-control" [(ngModel)]="product.name">
        </td>
     
      </tr>
      <tr>
        <td>description:<input type="text" name="name"  placeholder="description" class="form-control" [(ngModel)]="product.description"></td>
        <td>price:<input type="text" name="name" placeholder="12000" class="form-control" [(ngModel)]="product.price"></td>
        
        <td>Count:<input type="text" name="count"  class="form-control" [(ngModel)]="product.count"></td>
      </tr>
      <br><br>
      <div class="custom-file">
    <tr><td><input type="file" name="image" class="form-control"  (change)="changeListener($event)">
    <td> <button type="button" name="image" class="btn btn-info" (click)="product_creation(product);">create</button></td>
  </div>
  </table>  
</form>
</div> 
 -->
 
<div class="form">
 <div class="container mt-3">
    <h4> Select category</h4>
    <!-- <p>Use the .custom-select-sm class to create a small select menu and the .custom-select-lg class for a large one:</p> -->
      <select class="custom-select custom-select-sm mb-3" width=80px  [(ngModel)]="product.category">
        <option selected>categorys</option>
        <option *ngFor="let p of categorylist">{{p.category_name}}</option>
        <!-- <option value="fiat">Fiat</option>
        <option value="audi">Audi</option> -->
        <!-- <input type="text" name="name" placeholder="name of product" class="form-control">   -->
      </select>
      <div *ngIf="errors" style="color: red">{{errors.category}}</div>
        <h4>name</h4>
        <input type="text" name="name" class="form-control"  [(ngModel)]="product.name"><br>
        <div *ngIf="errors" style="color: red">{{errors.name}}</div>
        <h4>description</h4>
        <input type="text" name="description" placeholder="description" class="form-control" [(ngModel)]="product.description"><br>
        <div *ngIf="errors" style="color: red">{{errors.description}}</div>
        <h4>price</h4>
        <input type="text" name="price" placeholder="price" class="form-control"  [(ngModel)]="product.price"><br>
        <div *ngIf="errors" style="color: red">{{errors.price}}</div>
        <h4>quantity</h4>
        <input type="text" name="count" placeholder="description" class="form-control"  [(ngModel)]="product.count"><br>
        <div *ngIf="errors" style="color: red">{{errors.count}}</div>
        <tr><td><input type="file" name="image" class="form-control"  (change)="changeListener($event)"><br>
          <button type="button" class="btn btn-success create" (click)="product_creation(product);">create</button>
  
        <!-- <div class="custom-file mb-3">
                      <input type="file" class="custom-file-input" id="customFile" name="filename" (change)="changeListener($event)">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                      <br>
                      <button type="button" class="btn btn-success create" (click)="product_creation(product);">create</button>
          </div>
      -->
  </div>
</div>